.audio-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#dropzone {
  border: 1px black solid;
  height: 100px;
  width: 500px;
  
}

#canvas {
  border: 1px black solid;
  background-color: black;
}